<div id="OurCourses">
	<h2>Our courses</h2>
	<div id="spacing"></div>
	<div id="CSharp">
		<h4>C#/ASP.NET coding bootcamp</h4>
		<p>
			Companies like Quicken Loans, Fathead, United Shore
			and Domino’s Pizza are hungry for C# .NET programmers for enterprise development.
		</p>
		<p><a href="/Home/CSharp"><input type="button" value="More info" /></a></p>
	</div>
	<div id="spacing"></div>
	<div id="Java">
		<h4>Java coding bootcamp</h4>
		<p>
			Google uses Java to handle an average of 60,000 searches every second
			and it’s one of the most in-demand languages for employers in the U.S.
		</p>
		<p><a href="/Home/Java"><input type="button" value="More info" /></a></p>
	</div>
	<div id="spacing"></div>
	<div id="FrontEnd">
		<h4>Front-End coding bootcamp</h4>
		<p>
			JavaScript is highly adaptable and in addition to websites,
			it’s used in non-browser environments like cars and robots
		</p>
		<p><a href="/Home/FrontEnd"><input type="button" value="More info" /></a></p>
	</div>
	<div id="spacing"></div>
</div>