<div id="MoreInfo">
	<h2>Our C#/.NET Bootcamp</h2>
	<div id="MoreInfoBox">
		Developed by Microsoft, .NET is a programming framework used in
		enterprise development around the world that’s heavily integrated with the C# language.
		We teach this bootcamp to feed the high demand for our C# .NET training among employers in Michigan.
	</div>
	<div id="spacing"></div>
	<p><a href="/Home/SignUp"><input type="button" value="Sign up for a bootcamp" id="SignUpButton" /></a></p>
	<div id="spacing"></div>
	<div id="ClassTimes">
		<h2>Class schedules</h2>
		<h3>APRIL 22 - JUNE 28; Mon - Fri, 9am - 5pm</h3>
		<p>Early application discount of $1,000 if you apply 1 month early</p>
		<h3>JULY 15 – SEPT. 20; Mon - Fri, 9am - 5pm</h3>
		<p>Early application discount of $1,000 if you apply 1 month early</p>
		<h3>OCT. 14 – DEC. 20; Mon - Fri, 9am - 5pm</h3>
		<p>Early application discount of $1,000 if you apply 1 month early</p>
	</div>
	<div id="Learn">
		<h2>What will I learn?</h2>
		<p>
			This programming bootcamp will introduce you to the fundamentals of enterprise development 
			(.NET), the use of Visual Studio, SQL databases, and how to design and deploy object-oriented applications.

			Some of the concepts we’ll cover include:
			<ul>
				<li>A thorough hands-on understanding of .NET development</li>
				<li>The lifecycle of a .NET project</li>
				<li>C# language syntax</li>
				<li>The mechanics of developing for .NET using Visual Studio</li>
				<li>Debugging and testing of .NET projects</li>
				<li>How to program web applications with ASP.NET</li>
				<li>How to access databases with ADO.NET</li>

			</ul>
		</p>
	</div>
</div>