<div id="MoreInfo">
	<h2>Our Front End Bootcamp</h2>
	<div id="MoreInfoBox">
		Our Front-End Coding Bootcamp teaches you to code with JavaScript (or JS),
		a dynamic programming language that’s most often used to create interactivity in web pages.
		JavaScript supports object-oriented programming and is highly adaptable.
		It’s also used in non-browser environments like cars and microwaves.
	</div>
	<div id="spacing"></div>
	<p><a href="/Home/SignUp"><input type="button" value="Sign up for a bootcamp" id="SignUpButton" /></a></p>
	<div id="spacing"></div>
	<div id="ClassTimes">
		<h2>Class schedules</h2>
		<h3>APRIL 22 - JUNE 28; Mon - Fri, 9am - 5pm</h3>
		<p>Early application discount of $1,000 if you apply 1 month early</p>
		<h3>JULY 15 – SEPT. 20; Mon - Fri, 9am - 5pm</h3>
		<p>Early application discount of $1,000 if you apply 1 month early</p>
		<h3>OCT. 14 – DEC. 20; Mon - Fri, 9am - 5pm</h3>
		<p>Early application discount of $1,000 if you apply 1 month early</p>
	</div>
	<div id="Learn">
		<h2>What will I learn?</h2>
		<p>
			Throughout the bootcamp, you will gain skills needed to become an entry-level Front-End developer. 
			This course will provide you with the skills necessary to create websites using three core languages
			: HTML5, CSS3 and JavaScript. HTML5 and CSS3 will be used for the structure and layout of the websites,
			including mobile-friendly websites, and JavaScript will be used for leveraging behavioral and interactive magic.

			Some of the concepts you’ll learn include:
			<ul>
				<li>HTML5 / CSS3</li>
				<li>JavaScript</li>
				<li>jQuery</li>
				<li>AngularJS</li>
				<li>Node.js / Express</li>
				<li>PostgreSQL</li>
				<li>Soft Skills and Pair Programming</li>
			</ul>
		</p>
	</div>
</div>