<div id="GCfront">
	<h2>WHAT IS GRAND CIRCUS?</h2>
	<p>
		We’re a team of tech enthusiasts dedicated to supporting students interested in transitioning into a tech career.
		Our coding bootcamps are designed to teach the technical skills necessary to become software engineers
		while providing career services to support the career search.
	</p>
	<div id="WhoHires">
		<h2>WHO HIRES OUR GRADS?</h2>
		<p>More than 300 companies employ GC grads.
		Our team works alongside some of Michigan’s top employers to support their growth.</p>
	</div>
	<div id="OurHires">
		<img src="~/Images/Ford.png" />
		<img src="~/Images/Meridian.png" />
		<img src="~/Images/Quicken Loans.png" />
		<img src="~/Images/UnitedShore.png" />
	</div>
	<div id="HowToStart">
		<h2 id="Started">HOW TO GET STARTED</h2>
		<p>
			Starting a career in tech can seem intimidating. We’re here to help.
			If you’re starting with zero coding experience, we’ve crafted a path to support your journey.
			Through our free and affordable workshops, you’ll get the experience necessary to join a coding bootcamp.
		</p>

		<a href="/Home/Courses"><input type="button" value="Our courses!" /></a>
	</div>	
</div>