<div id="MoreInfo">
	<h2>Our Java Bootcamp</h2>
	<div id="MoreInfoBox">
		Why should you take a Java Coding Bootcamp? For starters,
		Google uses Java to handle an average of 60,000 searches every second.
		Currently running on over three billion devices, the Java programming language is one of the most in-demand on a national level.
		Whether you want to create a mobile app or an e-commerce website, Java can be used across platforms,
		scale without compromising security and handle extreme traffic.
	</div>
	<div id="spacing"></div>
	<p><a href="/Home/SignUp"><input type="button" value="Sign up for a bootcamp" id="SignUpButton" /></a></p>
	<div id="spacing"></div>
	<div id="ClassTimes">
		<h2>Class schedules</h2>
		<h3>APRIL 22 - JUNE 28; Mon - Fri, 9am - 5pm</h3>
		<p>Early application discount of $1,000 if you apply 1 month early</p>
		<h3>JULY 15 – SEPT. 20; Mon - Fri, 9am - 5pm</h3>
		<p>Early application discount of $1,000 if you apply 1 month early</p>
		<h3>OCT. 14 – DEC. 20; Mon - Fri, 9am - 5pm</h3>
		<p>Early application discount of $1,000 if you apply 1 month early</p>
	</div>

	<div id="Learn">
		<h2>What will I learn?</h2>
		<p>
			This Java coding bootcamp will teach you the skills you need to become an entry-level developer. You’ll be ready to build a web application with potential for any number of purposes, like managing a medical condition or finding a nearby coffee shop.

			Some of the concepts we’ll cover include:
			<ul>
				<li>Introduction to Java and Objects</li>
				<li>Arrays, Classes and Methods</li>
				<li>Packages, Interface, Soft Skills and Version Control</li>
				<li>Exceptions, Structures, HTML and JSP page</li>
				<li>Sessions, Cookies, JSTL and Streams</li>
			</ul>
		</p>
	</div>
</div>